body {
    background-color: ghostwhite
}
h1 {
    font-size: large;
    color: darkmagenta;
}
fieldset {
    max-width: 1080px;
}
#replaceStrings li input {
    width: 40%;
    min-width: 10em;
}

div.resultWrapper {
    display: flex;
    flex-wrap: wrap;
    
}
div.resultWrapper>div {
    margin: .5em;
    flex-grow: 1;
}
div.resultWrapper>div>textarea {
    width:100%;
    min-height: 20em;
    height: 30em;
    resize: vertical;
    white-space: pre;
}