body {
    background-color: ghostwhite
}
h1 {
    font-size: large;
    color: darkmagenta;
}
fieldset {
    max-width: 1080px;
}

.disable {
    display: none;
}
.box {
    padding-top: .5em;
}

div.resultWrapper {
    display: flex;
    flex-wrap: wrap;
    
}
div.resultWrapper>div {
    margin: .5em;
    flex-grow: 1;
}
div.resultWrapper>div>textarea {
    width:100%;
    min-height: 10em;
    max-height: 40em;
    resize: vertical;
    white-space: pre;
}
button.btn_del {
    margin-left: .5em;
}

#replaceStrings li input {
    width: 40%;
    min-width: 10em;
}
textarea#replaceStrings_text {
    width: 100%;
    min-height: 5em;
    max-height: 40em;
    resize: vertical;
    white-space: pre;
}